.pl-0{
    padding-left: 0px !important;
}
.pr-0{
    padding-right: 0px !important;
}

.sign-up-text{
    font-family: Tiempos Headline Regular;
    font-size: 3rem;
    line-height: 1.19;
    color: #006658;
    text-align: center;
}
.img-left{
    height:100vh
}


.sign-up-form {
    width: 300px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
}

.sign-up-form h2 {
    text-align: center;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input,
.form-group select {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form-group .error {
    border-color: red;
}

.form-group span {
    color: red;
    font-size: 12px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #218838;
}
